body {
  background-image: url(bcg-min.jpg);
  background-position: center;
  background-size: auto;
}
h1 {
  color: rgb(255, 165, 0);
}

h3,
h2 {
  color: white;
}
table {
  border-collapse: separate;
  border: solid black 1px;
  border-radius: 6px;
  -moz-border-radius: 6px;
}
th {
  color: black;
  background-color: blueviolet;
  border-top: none;
}
tr,
td {
  color: white;

  background-color: rgba(105, 199, 81, 0.808);
}
td:first-child,
th:first-child {
  border-left: none;
}

ul {
  background-color: rgb(128, 1, 43);
}
div.header {
  background-size: cover;
  border: 2px solid gold;
  float: left;
}
li,
a {
  display: block;
  /* 	color:white; */
  text-decoration: none;
}
a {
  text-decoration-line: underline;
  color: rgb(38, 0, 255);
  text-decoration: none;
}
li {
  display: block;
  padding-right: 10px;
}
div.logsign {
  float: right;
}
#Welcome {
  padding-bottom: 130px;
  background-color: rgba(45, 25, 119, 0.774);
}
p {
  font-family: Roboto, sans-serif;
  color: rgb(252, 238, 235);
}
#logo {
  margin: 1px;
  border-radius: 5px 0px 0px 0px;
}
