body {
  background-image: url(bcg-min.png);
  background-position: center;
  background-size: cover;
}
h1 {
  color: rgb(255, 165, 0);
}

h3,
h2 {
  color: white;
}

li {
  display: block;
  padding-right: 10px;
  text-decoration: none;
}
#logo {
  margin: 1px;
  border-radius: 5px 0px 0px 0px;
}
